body{
    background: lightblue;
}

.main_Wrapper{
    display: grid;
    grid-template-rows: 15% auto auto;
    justify-self: center;

}


.company_Logo{
    justify-self: center;
}

h2{
    justify-self: center;
}

.invoice_Wrapper{
    display: grid;
    justify-self: center;

}

.contractor_Wrapper{
    justify-self: center;
}

.previous_Contractor_Wrapper{
    padding-bottom: 20px;
}

.final_Choice_Wrapper{
    justify-self: center;

}



button{
    margin: 20px;
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    display: grid;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 300px;
    justify-self: center;

}




form{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    max-height: 100%;
}

.invoice_Wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new_Invoice_Confirmation_Wrapper{
    visibility: hidden;
}

.company_Logo{
    display: grid;
    max-height: 175px;
}



