<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In To The Software</title>
    <link rel="stylesheet" href="../static/CSS/login.css">
</head>
<body>
    <div class="main_Wrapper">
        <div class="company_Logo">
            <img src="../static/Images/Company%20Logo.png" alt="Generic Demolition Company!">
        </div>

        <form action="{{ url_for('login_Screen') }}" method="POST">

            <div class=username_Entry_Field">

                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>

            </div>

            <div class="password_Entry_Field">

                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
            </div>



            <button type="submit" value="submit">Submit</button>

            {% if error: %}
                <div class="error_Message">
                <h3>Sorry! Invalid Data Entered</h3>
                </div>
            {% endif %}

        </form>
    </div>
</body>
</html>