<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="../static/CSS/main.css">
</head>
<body>
<div class="main_Wrapper">
    <div class="company_Logo">
        <img src="../static/Images/Company%20Logo.png" alt="Generic Demolition Company!">
    </div>
    <form action="{{ url_for('main_Screen') }}" method="POST">
        <div class="inventory_Buttons">
            <div class=add_Inventory_Item_Wrapper">
                <button type="submit" name="submit_button" value="Add Inventory Item">Add Inventory</button>
            </div>
            <div class=remove_Inventory_Item">
                <button type="submit" name="submit_button" value="Remove Inventory Item">Remove Inventory</button>
            </div>
        </div>
        <div class="job_Buttons_Wrapper">
            <div class=item_Inventory_To_Job">
                <button type="submit" name="submit_button" value="Send Item To Job">Send Item To Job</button>
            </div>
            <div class=item_From_Job_To_Inventory">
                <button type="submit" name="submit_button" value="Return Item From Job">Return Item From Job</button>
            </div>
        </div>

        <div class="more_Information_Wrapper">
            <div class=Reports_Button">
                <button type="submit" name="submit_button" value="Get Reports">View Reports</button>
            </div>

            <div class=Letters_Button">
                <button type="submit" name="submit_button" value="View Letters">View Letters</button>
            </div>
        </div>


    </form>

</div>
</body>
</html>