<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Inventory Item</title>
    <link rel="stylesheet" href="../static/CSS/remove_Inventory_Item.css">
</head>
<body>
<div class="main_Wrapper">
    <div class="company_Logo">
        <img src="../static/Images/Company%20Logo.png" alt="Generic Demolition Company!">
    </div>
    <form action="{{ url_for('remove_Inventory_Item') }}" method="POST">
        <table>
            <caption>Select Item(s) to Remove</caption>
            <tbody>
            <tr>
                <th scope="col">Tool</th>
                <th scope="col">Date Added</th>
                <th scope="col">Stock ID</th>
                <th scope="col">Uploaded By</th>
            </tr>
            {% for tool, tuple_Of_Information in inventory_Data.items() %}
                <tr>
                    <th scope="row">{{ tool }}</th>
                    <td><code>{{ tuple_Of_Information[1] }}</code></td>
                    <td><code>{{ tuple_Of_Information[4] }}</code></td>
                    <td><code>{{ tuple_Of_Information[-1] }}</code></td>
                    <td><input type="checkbox" name="checkbox" value="{{ tuple_Of_Information[4] }}"></td>
                </tr>
            {% endfor %}
        </table>
        <div class="button_Wrapper">
            <button type="submit" name="submit_button" value="Remove Item">Remove Item</button>
            <button type="submit" name="submit_button" value="Go Back">Go Back</button>
        </div>

        {% if success %}
                <div class="success_Message">
                    {% for tool in data %}
                        <h3>Success! {{tool}} has been removed</h3>
                    {% endfor %}
                </div>
        {% endif %}
        {% if an_Error %}
            <div class="success_Message">
                <h3>Error: Please try again.</h3>
            </div>
        {% endif %}
    </form>

</div>

</body>
</html>