<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Inventory Item</title>
    <link rel="stylesheet" href="../static/remove_Inventory_Item.css">
</head>
<body>
<div class="main_Wrapper">
    <div class="company_Logo">
        <img src="../static/Company Logo.png" alt="Generic Demolition Company!">
        <h1>Coming Soon!</h1>
    </div>
    <form action="{{ url_for('remove_Inventory_Item') }}" method="POST">

        <div class="">
                <button type="submit" name="submit_button" value="Go Back">Go Back</button>
            </div>
    </form>

</div>

</body>
</html>