<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Reports</title>
    <link rel="stylesheet" href="../static/CSS/view_Reports.css">
</head>
<body>
<div class="main_Wrapper">
    <div class="company_Logo">
        <img src="../static/Images/Company%20Logo.png" alt="Generic Demolition Company!">
        <h1>Coming Soon!</h1>
    </div>
    <form action="{{ url_for('view_Reports') }}" method="POST">

        <div class="">
                <button type="submit" name="submit_button" value="Go Back">Go Back</button>
            </div>
    </form>

</div>

</body>
</html>